body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', sans-serif;
    background-position: relative;
}


/* Image de fond */

body::before {
    content: "";
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), /* couche sombre uniforme */
    url("../images/bacgroundac.jpg") center center / cover no-repeat fixed;
    z-index: -1;
}


/* Contenu au-dessus du fond */

main {
    text-align: center;
    margin-bottom: 100px;
}

.logo {
    font-weight: bold;
    background: #000000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    margin-bottom: 40px;
    font-family: 'Dancing Script', sans-serif;
    margin-top: 90px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espacement flexible */
    margin-top: 100px;
    /* Marge supérieure ajustée */
}

.buttonup,
.buttonin {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid black;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    /* Suppression des marges fixes */
}

.time-value {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1;
    color: black;
}

.mots {
    font-size: 50px;
    font-family: 'Dancing Script', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-transform: 4px;
}

.grille {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
}

.message {
    font-size: 30px;
    font-family: 'Dancing Script', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


/* --- Media Queries pour le responsive --- */

@media (max-width: 768px) {
    body {
        margin: 20px;
    }
    .logo {
        font-size: 3rem;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .grille {
        flex-direction: column;
        gap: 15px;
    }
    .button-container {
        flex-direction: column;
        gap: 15px;
        margin-top: 40px;
    }
    .buttonup,
    .buttonin {
        width: 80%;
        margin: 0 auto;
        /* Centrer les boutons */
    }
}

h2 {
    color: rgb(218, 175, 32);
    font-family: 'Dancing Script', sans-serif;
    margin-bottom: 30px;
    background: linear-gradient(45deg, #ffd903, #e5af4c, #7e741b, #aea33e);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}